body {
    margin: 0;
    font-family: sans-serif;
}

header {
    top: 0;
    background-color: transparent;
    color: white;
    padding: 30px 50px;
    z-index: 10;
}

nav {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    background-color: #065E5E;
    color: white;
    font-size: 14px;
    flex-wrap: wrap;
}

.navigations-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigations-1 a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
}

.social-icons {
    padding: 10px;
}

.social-icons a {
    padding: 5px;
}

.social-icons img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.btn-home {
    font-weight: bold;
    padding: 6px 10px;
}

.btn-home:hover,
a:hover {
    color: #F4A623;
}

.btn-discover {
    font-weight: bold;
    padding: 6px 10px;
    background-color: #F4A623;
}

.btn-discover:hover {
    background-color: #337f80;
    color: white;
}

.bottom-nav {
    padding: 8px 48px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navigations-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    height: 65px;
}

.mob-search-icon {
    display: none;
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.menubtn {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    font-weight: bold;
    color: #065E5E;
    font-size: 17px;
    text-decoration: none;
}

.search-icon img {
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.mob-btn-discover {
    display: none;
}

@media (max-width: 420px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 10px 0;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu a {
        padding: 10px 20px;
        font-size: 16px;
        border-bottom: 1px solid #eee;
    }

    header {
        padding: 0;
    }

    .top-nav {
        font-size: 12px;

    }

    .navigations-1 {
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .navigations-1 a {
        padding: 4px;
        font-size: 12px;
    }

    .search-icon a {
        padding: 2px;
    }

    .mob-search-icon img {
        width: 14px;
        height: 14px;
    }

    .btn-home,
    .btn-discover {
        display: none;
    }

    .bottom-nav {
        padding: 8px 20px;
    }

    .logo img {
        height: 50px;
    }

    .mob-search-icon {
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

    .menubtn {
        display: block;
    }

    .search-icon {
        display: none;
    }

    .mob-btn-discover {
        display: block;
        background-color: #F4A623;
        color: white;
        padding: 6px 10px;
        font-weight: bold;
        text-align: center;
        margin: 10px auto;
        width: 80%;
    }
}

.search-popup {
    display: flex;
    justify-content: center;
    width: 100%;

}

#search-container {
    position: absolute;
    top: 40%;
    left: auto;
    right: auto;
    margin: auto;
    width: 100%;
    z-index: 999;
    background: #e7eaed;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

#search-container.hidden {
    display: none;
}

.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: -10px;
    left: -10px;
    background: white;
    color: black;
    border-radius: 50%;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
    background: #ccc;
}

#search-container {
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}

#search-container.hidden {
    display: none;
    transform: translateY(-100px);
    opacity: 0;
}


.search-form {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: flex-end;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    font-weight: bold;
    color: #006666;
    margin-bottom: 5px;
}

#search-keyword {
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}

#search-keyword:focus {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

#search-in {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background: transparent;
}

.search-button {
    background: #0c5d60;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 420px) {
    #search-container {
        width: 70%;
        top: 30%;
        padding: 25px;

    }

    .search-form {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

}