body {
    margin: 0;
    font-family: sans-serif;
}

header {
    top: 0;
    background-color: transparent;
    color: white;
    padding: 30px 50px;
    z-index: 10;
}


/* News Section */

.slideshow-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
}

.slideshow {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
    height: 1950px;
}

.slide-img {
    position: relative;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slid-img-1 {
    background-image: url(main/hero\ \(1\).jpg);
}

.slid-img-2 {
    background-image: url(main/hero\ \(2\).jpg);
}

.slid-img-3 {
    background-image: url(main/hero\ \(3\).jpg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.slideshow-headlines {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    max-width: 700px;
    padding: 30px;
    animation: slideUp 0.8s ease forwards;
    opacity: 0;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideshow-headlines h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.slideshow-headlines p {
    font-size: 16px;
    margin: 10px 0;
    max-width: 800px;
}

.learn-more {
    background-color: white;
    color: black;
    padding: 8px 32px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more:hover {
    background-color: #E29A1B;
    color: white;
}


.arrow {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.arrow img {
    height: 40px;
    width: 40px;
}


@media (max-width: 420px) {
    .slideshow-container {
        height: 400px;
    }

    .slideshow {
        height: 400px;
    }

    .slide-img {
        height: 400px;
    }

    .slideshow-headlines h1 {
        font-size: 35px;
        margin: 10px;
    }

    .slideshow-headlines p {
        font-size: 14px;
        margin: 10px 0;
    }

    .learn-more {
        padding: 10px 20px;
        font-size: 14px;
        margin: 10px;
    }


    .arrow.left {
        left: 0;
    }

    .arrow.right {
        right: 0;
    }

    .arrow img {
        height: 20px;
        width: 20px;
    }
}

.cards-section {
    height: 300px;
}

.cards-section-div {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 56px;
    flex-wrap: wrap;
    position: relative;
    top: -100px;
}

.card {
    background: white;
    width: 356px;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}
.card-1 h3, .card-link-1 {
    color: #4B0146;
}
.card-2 h3, .card-link-2 {
    color: #003366;
}
.card-3 h3, .card-link-3 {
    color: #8B0000;
}


.card-1:hover {
    background-color: #4B0146;
    color: white;
    transition: background-color 0.2s;
    position: relative;
    overflow: hidden;
}

.card-1:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #4B0146;
    z-index: 0;
    animation: fillUpCard1 0.2s forwards;
}

@keyframes fillUpCard1 {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.card-1:hover {
    color: white;
}

.card-1:hover>* {
    position: relative;
    z-index: 1;
}

.card-2:hover {
    background-color: #003366;
    color: white;
    transition: background-color 0.2s;
    position: relative;
    overflow: hidden;
}

.card-2:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #003366;
    z-index: 0;
    animation: fillUpCard2 0.2s forwards;
}

@keyframes fillUpCard2 {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.card-2:hover>* {
    position: relative;
    z-index: 1;
}

.card-3:hover {
    background-color: #8B0000;
    color: white;
    transition: background-color 0.2s;
    position: relative;
    overflow: hidden;
}

.card-3:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #8B0000;
    z-index: 0;
    animation: fillUpCard3 0.2s forwards;
}

@keyframes fillUpCard3 {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.card-3:hover>* {
    position: relative;
    z-index: 1;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}
.card-img-2 {
    display: none;
}

.card:hover .card-img-1 {
    display: none;
}

.card:hover .card-img-2 {
    display: inline;
}


.card h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
    font-size: 28px;
}

.card-link {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin: 20px 0;
}

.card:hover  h3 , .card:hover .card-link {
    color: #fff;
}


.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.card:nth-child(1)::after {
    background-color: #4B0146;
}

.card:nth-child(2)::after {
    background-color: #003366;

}

.card:nth-child(3)::after {
    background-color: #8B0000;

}

@media (max-width: 420px) {
    .cards-section {
        height: auto;
        margin: 0;
    }

    .cards-section-div {
        flex-direction: column;
        align-items: center;
        top: -50px;
    }

    .card {
        width: 90%;
        max-width: 280px;
    }

    .card img {
        width: 80px;
        height: 80px;
    }

    .card h3 {
        font-size: 24px;
    }
}


.news-section {
    color: white;
    text-align: center;
}

.news-container {
    background-color: #003B44;
    max-width: 75%;
    margin: 0 auto;
    padding: 32px;
}

.news-section h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subtitle {
    color: #d1d1d1;
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.news-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 30px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}


.news-slider::-webkit-scrollbar {
    display: none;
}

.news-slider {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.news-card {
    flex: 0 0 calc(50% - 15px);
    scroll-snap-align: start;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
    height: 470px;
}

.news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    opacity: 0.85;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.news-card:hover img {
    opacity: 1;
    transform: scale(1.05);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
}

.news-card-des {
    padding: 32px;
}

.overlay h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.btn-line {
    width: 30px;
    height: 3px;
    background-color: #E29A1B;
    margin-bottom: 12px;
}

.news-btn {
    border: 1px solid white;
    padding: 6px 14px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    transition: background 0.3s, color 0.3s;
}

.news-btn:hover {
    background: #E29A1B;
    color: white;
}

.slider-controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.slider-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.slider-controls button:hover {
    color: #E29A1B;
}


@media (max-width: 420px) {
    .news-card {
        flex: 0 0 100%;
    }

    .overlay h3 {
        font-size: 20px;
    }

    .news-btn {
        font-size: 13px;
    }
}


.upcoming-events {
    background: linear-gradient(to bottom, white 50%, transparent 50%), url('main/bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    padding: 32px;
}

.events-inner {
    width: 75%;
    max-width: 1300px;
    margin: auto;
    color: #003846;
}

.events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.events-header h2 {
    font-size: 36px;
    font-weight: 700;
}

.view-all {
    color: #005b66;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.events-desc {
    font-size: 16px;
    color: #333;
    margin: 20px 0 40px;
    max-width: 700px;
}

.events-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.event-card {
    background: white;
    width: 340px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.event-date {
    position: absolute;
    top: 0;
    left: 0;
    background: #005b66;
    color: white;
    padding: 10px 8px;
    width: 72px;
    text-align: center;
    font-size: 12px;
    z-index: 2;
}

.month {
    margin-bottom: 20px;
}

.event-date .day {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}

.event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.85;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.event-card:hover .event-image {
    opacity: 1;
    transform: scale(1.05);

}

.event-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.event-content h3 {
    font-size: 18px;
    font-weight: 700;
    color: #003846;
    margin-bottom: 10px;
    padding: 0 16px;
}

.event-content p {
    flex: 1;
    font-size: 14px;
    color: #444;
    margin-bottom: 16px;
    padding: 0 16px;
}

.learn-btn {
    background: #f5a623;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    align-self: end;
    transition: background 0.3s ease;
}

.learn-btn:hover {
    background: #03383F;
}

@media (max-width: 420px) {
    .events-inner {
        width: 90%;
    }

    .event-card {
        width: 100%;
    }

    .event-date {
        width: 60px;
    }

    .event-date .day {
        font-size: 18px;
    }

    .event-content h3 {
        font-size: 16px;
    }

    .event-content p {
        font-size: 12px;
    }

    .upcoming-events {
        background: linear-gradient(to bottom, white 80%, transparent 20%), url('main/bg.jpg');
        background-size: cover;
        background-repeat: repeat;
        padding: 32px;
    }
}